.services {
    padding-top: 82px;
    padding-bottom: 105px;
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    margin-bottom: 25px;   
}

.services__item {
    position: relative;
    width: 16.7%;
    height: 73px;
    // padding: 16px 0;    
    text-align: center;
    background-color: $bg-light;
    border: solid 1px #ececec;     
    transition: color .2s ease-in-out;
    
        &:hover {
        // background-color: $accent-color;
        border: solid 1px $accent-color;        
    }
}

.services__item:first-child {
    border-left: solid 1px #ececec; 
}

.services__item::after {
    content: '';
    position: absolute;    
    background: url(../img/rectangle.png);
    width: 24px;
    height: 13px;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;    
}

.services__item--active {
    background-color: $accent-color;

    &::after {      
        display: block; 
    }
}

.services__link {
    // position: relative;
    // z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%; 
    color: $sub-title-grey;
    @include rem(16);
    font-weight: 400;
    line-height: 40px;
    transition: color .2s ease-in-out; 

    &:hover {
        text-decoration: none;
        color: $sub-title-grey;
    }

    &:active {
        color: $text-white;
    }

}

.services__link--active {
    color: $text-white;
}

.services__img-wrap {
    width: 16.7%;
    margin-right: 20px;    
}

.services__img {
    width: 100%;
    height: 100%;
}

.services__description {
    width: 82%;
    @include rem(14);
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    margin-bottom: 0;
    text-align: left;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {    
    background: $accent-color;
    
}













