.services {
    padding: 76px 0 77px; 
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    margin-bottom: 25px;   
}

.services__item {
    position: relative;
    width: 17%;
    height: 72px;
    // padding: 16px 0;    
    text-align: center;
    background-color: $bg-light;
    border: solid 1px #ececec;     
    transition: color .2s ease-in-out;
    
        &:hover {        
        border: solid 1px $accent-color;        
    }
}

.services__item::after {     
    content: '';
    position: absolute;    
    border: 19px solid transparent;
    border-top: 17px solid #18cfab;
    width: 0px;
    height: 0px;
    bottom: -31px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;   
}

.services__item--active::after {       
        position: absolute;    
        border: 19px solid transparent;
        border-top: 17px solid #18cfab;
        width: 0px;
        height: 0px;
        bottom: -31px;
        left: 0;
        right: 0;
        margin: auto;
        display: block; 
}

.services__item--selected {
    background-color: #18cfab;    
}

.services__item--selected::after {      
    display: block; 
}

.services__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%; 
    color: $sub-title-grey;
    @include rem(16);
    font-weight: 400;
    line-height: 40px;
    transition: color .1s ease-in-out; 

    &:hover:not(.services__link--selected) {
        text-decoration: none;       
        color: $sub-title-grey;
    }

}

.services__link--selected {
    color: #fff !important;
    text-decoration: none !important;
}

.services__img-wrap {
    width: 17%;
    margin-right: 20px;    
}

.services__img {
    display: inline-block;
    width: 16.5%;
    vertical-align: baseline;    
}

.services__description {
    display: inline-block;
    width: 81%;
    @include rem(14);
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    margin-left: 22px;
}













