.services {
    padding: 76px 0 77px;
    
}

.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    margin-bottom: 25px;   
}

.services__item {
    position: relative;
    width: 17%;
    height: 72px;
    // padding: 16px 0;    
    text-align: center;
    background-color: $bg-light;
    border: solid 1px #ececec;     
    transition: color .2s ease-in-out;
    
        &:hover {
        background-color: $accent-color;
        // border: solid 1px $accent-color;        
    }
}

.services__item:first-child {
    border-left: solid 1px #ececec; 
}

.services__item::after {
    // content: '';
    // position: absolute;    
    // background: url(../img/rectangle.png);
    // width: 24px;
    // height: 13px;
    // bottom: -12px;
    // left: 0;
    // right: 0;
    // margin: auto;
    // display: none;  
    content: '';
    position: absolute;    
    border: 19px solid transparent;
    border-top: 17px solid #18cfab;
    width: 0px;
    height: 0px;
    bottom: -31px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;   
}

.services__item--active {   
    background-color: $accent-color;
}

.services__item--active::after {       
        position: absolute;    
        border: 19px solid transparent;
        border-top: 17px solid #18cfab;
        width: 0px;
        height: 0px;
        bottom: -31px;
        left: 0;
        right: 0;
        margin: auto;
        display: block; 
}


.services__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%; 
    color: $sub-title-grey;
    @include rem(16);
    font-weight: 400;
    line-height: 40px;
    // transition: color .1s ease-in-out; 

    &:hover {
        text-decoration: none;
        color: $text-white;
        // color: $sub-title-grey;
    }

    &:active {
        // color: $text-white;
    }

}

.services__link--active {
    color: $text-white;
}

.services__img-wrap {
    width: 17%;
    margin-right: 20px;    
}

.services__img {
    display: inline-block;
    width: 16.5%;
    vertical-align: baseline;    
}

.services__description {
    display: inline-block;
    width: 81%;
    @include rem(14);
    font-weight: 300;
    color: #777777;
    line-height: 25px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    margin-left: 22px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #18cfab;
    background: #18cfab;
    color: #717171;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #717171;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #fff;
}

.ui-widget-header {
    border: none;
    background: none;
    color: #717171;
    font-weight: bold;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-widget-content {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}











