<section class="services" id="services">
    <div class="container pr-0 pl-0">
        <div class="row flex-column align-items-center">
            <h3 class="section__title section__title-grey">Our Services</h3>
            <span class="green_lines_img-wrap"></span>                
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="row">
                    <div class="col" >
                        <ul class="services__list">
                            <li class="services__item"><a href="#tabs-1" data-tab = "tabs-1" class="services__link">Web Design</a></li>
                            <li class="services__item"><a href="#tabs-2" data-tab = "tabs-2" class="services__link">Graphic Design</a></li>
                            <li class="services__item"><a href="#tabs-3" data-tab = "tabs-3" class="services__link">Online Support</a></li>
                            <li class="services__item"><a href="#tabs-4" data-tab = "tabs-4" class="services__link">App Design</a></li>
                            <li class="services__item"><a href="#tabs-5" data-tab = "tabs-5" class="services__link">Online Marketing</a></li>
                            <li class="services__item"><a href="#tabs-6" data-tab = "tabs-6" class="services__link">SEO Service</a></li>
                        </ul>
                    </div>            
                </div>        
                <div class="row no-gutters services__wrap" id="tabs-1">
                        <div class="col">                        
                        <img class="services__img" src="./img/services/web_design.png" alt="">                       
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>                        
                </div>
                <div class="row no-gutters services__wrap" id="tabs-2">
                    <div class="col">                        
                            <img class="services__img" src="./img/services/graphic_design.png" alt="">                        
                        <p class="services__description">Maecenas dapibus sapien orci, sit amet accumsan nisi gravida lacinia. Nullam urna ligula, tincidunt ac placerat ac, tincidunt et arcu. Vestibulum id rutrum lectus. Suspendisse sapien eros, varius et blandit a, interdum at turpis. Nulla porttitor, augue eu pharetra pretium, ligula risus finibus massa, sit amet vehicula risus lectus a turpis. Integer augue quam, lobortis eget urna ut, scelerisque condimentum felis. Nunc sit amet cursus orci. Cras dignissim vitae urna sed euismod. Nunc urna lectus, convallis eu luctus at, sollicitudin nec lectus. Sed pharetra pellentesque nibh, eget commodo metus tempus mattis. Vestibulum efficitur volutpat vestibulum.</p>
                    </div>                        
                </div>
                <div class="row no-gutters services__wrap" id="tabs-3">
                    <div class="col">                        
                            <img class="services__img" src="./img/services/online_support.png" alt="">                        
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>                        
                </div>
                <div class="row no-gutters services__wrap" id="tabs-4">
                    <div class="col">                        
                            <img class="services__img" src="./img/services/app_design.png" alt="">                         
                        <p class="services__description">Maecenas dapibus sapien orci, sit amet accumsan nisi gravida lacinia. Nullam urna ligula, tincidunt ac placerat ac, tincidunt et arcu. Vestibulum id rutrum lectus. Suspendisse sapien eros, varius et blandit a, interdum at turpis. Nulla porttitor, augue eu pharetra pretium, ligula risus finibus massa, sit amet vehicula risus lectus a turpis. Integer augue quam, lobortis eget urna ut, scelerisque condimentum felis. Nunc sit amet cursus orci. Cras dignissim vitae urna sed euismod. Nunc urna lectus, convallis eu luctus at, sollicitudin nec lectus. Sed pharetra pellentesque nibh, eget commodo metus tempus mattis. Vestibulum efficitur volutpat vestibulum. </p>
                    </div>                        
                </div>
                <div class="row no-gutters services__wrap" id="tabs-5">
                    <div class="col">                        
                            <img class="services__img" src="./img/services/online_marketing.png" alt="">                        
                        <p class="services__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>                        
                </div>
                <div class="row no-gutters services__wrap" id="tabs-6">
                    <div class="col">                        
                            <img class="services__img" src="./img/services/seo_service.png" alt="">                        
                        <p class="services__description">Maecenas dapibus sapien orci, sit amet accumsan nisi gravida lacinia. Nullam urna ligula, tincidunt ac placerat ac, tincidunt et arcu. Vestibulum id rutrum lectus. Suspendisse sapien eros, varius et blandit a, interdum at turpis. Nulla porttitor, augue eu pharetra pretium, ligula risus finibus massa, sit amet vehicula risus lectus a turpis. Integer augue quam, lobortis eget urna ut, scelerisque condimentum felis. Nunc sit amet cursus orci. Cras dignissim vitae urna sed euismod. Nunc urna lectus, convallis eu luctus at, sollicitudin nec lectus. Sed pharetra pellentesque nibh, eget commodo metus tempus mattis. Vestibulum efficitur volutpat vestibulum. </p>
                    </div>                        
                </div>        
            </div>
        </div>  
    </div>
</section>