.hero {
    width: 100%;    
    @include background('../img/hero.png');
    padding-top: 366px;
    padding-bottom: 244px;     
}

.hero__content {
    text-align: center;
}

.hero__sub-title {
    color: $text-white;
    @include rem(35);
    font-weight: 700;
    line-height: 10px;
    margin-bottom: 45px;
}

.hero__sub-title-green-words {
    color: $accent-color;
}

.hero__title {
    color: $text-white;
    @include rem(80);
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 5px;
}

.hero__description {
    color: #d4d4d4;
    @include rem(35);
    font-weight: 300;
    line-height: 74px;
    margin-bottom: 122px;
}

