<div class="hero">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col">
                <div class="hero__content">
                    <h2 class="hero__sub-title">THE HAM IS <span class="hero__sub-title-green-words">WORDPRESS THEME</span></h2>
                    <h1 class="hero__title">WE ARE CRIATIVE</h1>    
                    <p class="hero__description">
                        Just Buy and Enjoy These Awesome Features
                    </p>                       
                </div> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col text-center">
                <button class="btn-ua btn-green-wl">EXPLORE NOW</button>
                <button class="btn-ua btn-blue-wl">PURCHASE NOW</button>
            </div>
        </div>  
    </div>    
</div>