*, :before, :after {
    box-sizing: border-box !important;
  }

html,
body {
  width: 100%;
  min-height: 100vh;  
}

html {
    font-size: $root-font + px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;  
}

container {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.maincontent {
    flex: 1 0;
  }

.btn-reset {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.btn {    
    background-color: transparent;
    border-radius: 4px;
    color: $text-white;
    text-transform: uppercase;
    @include rem(13);
    font-weight: 700;
    transition: color .2s ease-in-out;
    line-height: 31px;
    text-align: center;
    padding: 14px 0px;
    min-width: 166px;
}

.btn-green {
    background-color: $accent-color; 
    
    &:hover {
        background-color: $text-white;
        color: $accent-color;        
    }
}

.btn-blue {
    background-color: #00cbf6;
    margin-left: 28px;
    &:hover {
        background-color: $text-white;
        color: #00cbf6;        
    }

}

.btn-wl-green {
    border-top: solid 4px $text-white;
    &:hover {
        border-top: solid 4px $accent-color;
    }
}

.btn-wl-blue {
    border-top: solid 4px $text-white;
    &:hover {
        border-top: solid 4px #00cbf6;
    }
}

.btn-green-border {
    border: solid 2px transparent; 
    
    &:hover {
        border-color: $accent-color;
    }
}

 .fa-plus {
    display: inline-block;
    margin-right: 16px;
} 

.overlay {
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: $bg-black, $alpha: .75);
    }
  }

  .overlay-grey {
      &:after {
        background: rgba(46, 74, 91, 0.5);
      }
  }

  .overlay-dark-grey {
    &:after {
      background: rgba(59, 51, 56, 0.5);
    }
}

  .section__title {    
    @include rem(36);
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .section__title-grey {
    color:  $title-grey;
  }

  .section__title-white {
      color: $text-white;
  }

  .green_lines_img-wrap{
    margin-bottom: 64px;
    display: inline-block;
    width: 76px;
    height: 5px;
    transform: skew(73deg);
    border-top: solid 1px $accent-color;
    border-bottom: solid 1px $accent-color;
}

.holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(46,74,91,.5);
    margin: auto;
    display: none;
    z-index: 999;
  }
  
  .preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
  }
  @keyframes rotatePreloader {
    0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $accent-color;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  @for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
      transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
      animation: rotateCircle + $i $time + s infinite linear;
      z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
      #{percentage(((50 / $count) * ($i - 1)) / 100)} {
        opacity: 0;
      }
      #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
        opacity: 1;
        transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
      }
      #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      100% {
        transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
        opacity: 1;
      }
    }
  }









