<div class="just_buy overlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center just_buy__text-block">
                <h2 class="just_buy__title">EVERITHING IS READY. JUST BUY AND INSTALL NOW</h2>
                <p class="just_buy__paragraph">Smoth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you</p>
                <button class="btn-reset btn btn-wl-green btn-green"> PURCHASE NOW</button> 
            </div>
        </div>        
    </div>
</div>