{% extends 'template.html' %}
{%
  set pageName = 'homepage'
%}
{% block title %}
  Step Project Ham
{% endblock %}

{% block content %}
{% include 'components/hero/hero.html' %}
{% include 'components/options/options.html' %}
{% include 'components/services/services.html' %}
{% include 'components/just_buy/just_buy.html' %}
{% include 'components/works/works.html' %}
{% include 'components/news/news.html' %}
{% include 'components/slider/slider.html' %}
{% include 'components/gallery/gallery.html' %}
{% endblock %}

