<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-2  d-flex justify-content-between">
          {% include 'components/logo/logo.html' %}
  
          <!-- <button class="menu-btn">
            <i class="fas fa-bars"></i>
          </button> -->
        </div>
        <div
          class="col-10 justify-content-end d-flex align-items-center"            >
          {% include 'components/header/nav/nav.html' %}
        </div>
      </div>
    </div>
</header>