<section class="gallery">
    <div class="container">
        <div class="row flex-column align-items-center">
            <h3 class="section__title section__title-grey">Gallery of best images</h3>
            <span class="green_lines_img-wrap"><img class="green_lines_img" src="./img/green_lines_img.png" alt=""></span>
        </div> 
        <div class="row">
            <div class="col">
                <div class="row mb-4">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/1.png" alt=""></div>
                </div>
                <div class="row mb-4">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/2.png" alt=""></div>
                </div>
                <div class="row">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/3.png" alt=""></div>
                </div>
            </div>
            <div class="col">
                <div class="row mb-4">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/4.png" alt=""></div>
                </div>
                <div class="row mb-4">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/5.png" alt=""></div>
                </div>
                <div class="row">
                    <div class="col"><img class="gallery__img" src="./img/gallery/best_images/6.png" alt=""></div>
                </div>
            </div>
            <div class="col" style="border: solid 1px green;">
                <div class="row mb-4" style="border: solid 1px red;">
                    <div class="col" style="border: solid 1px blue;">
                        <div class="row">
                            <div class="col"><img class="gallery__img" src="./img/gallery/best_images/3.png" alt=""></div>
                            <div class="col"><img class="gallery__img" src="./img/gallery/best_images/9.png" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4" style="border: solid 1px blue;"></div>
                <div class="row" style="border: solid 1px black;"></div>
            </div>
        </div>
    </div>
</section>