.works {
    position: relative;
    background-color: $bg-light;
    padding: 76px 0 97px;    
}

.works__menu {
    width: 53.5%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    margin-bottom: 71px;    
}

.works__menu-item {    
    // flex-grow: 1;
    text-align: center;
    border-right: solid 1px #ececec;
    border-top:  solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    background-color: $text-white; 
    width: 22%;  
}

.works__menu-item-first {
    width: 12%;
}

.works__menu-item:first-child {
    border-left: solid 1px #ececec;
    
}


.works__menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 0;
    color: $sub-title-grey; 
    @include rem(14);  
    font-weight: 400; 
    line-height: 42px;
    transition: color .2s ease-in-out;

    &:hover {
        text-decoration: none;
        color: $accent-color;
    } 
}

.works__menu-item-link--selected {
    color: $accent-color;
    border-top: solid 2px $accent-color;
}

.works__item-first {
    border-top: solid 3px $accent-color;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9px;
}

.works__item-icon-block {
    display: flex;
    margin-bottom: 30px;
}

.works__item-title {
    display: block;
    color: $accent-color;
    @include rem(14);
    font-weight: 700;
    margin-bottom: 5px;
}

.works__item-sub-title {
    display: block;
    margin-bottom: 13px;
    color: #8a8a8a;
    @include rem(13);
    font-weight: 300;
}

.works__gallery {
    position: relative;
    margin-bottom: 71px;    
}

.works__gallery--first-item {
    position: absolute;    
    top: 0;
    left: 0;
    z-index: 9999;
    border-top: solid 3px $accent-color;
    background-color: $text-white;     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.works__gallery--first-item-all {    
    padding: 77px 0;       
}

.works__gallery--first-item-others {
    padding: 39px 0;
}



.works__img {
    cursor: pointer;
    width: 100%; 
     
}

.chain_icon,
.search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}


.chain_icon {
    color: $accent-color;
    border: solid 1px $accent-color;
    margin-right: 5px;
}   

.search_icon {
    background-color: $accent-color;
    color: $text-white; 
}

.holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(46,74,91,.5);
    margin: auto;
    display: none;
    z-index: 999;
  }
  
  .preloader {
    /* size */
    width: $size + px;
    height: $size + px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader $time + s infinite ease-in;
  }
  @keyframes rotatePreloader {
    0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
  }
  .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: $accent-color;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  
  @for $i from 1 through $count {
    .preloader div:nth-child(#{$i}) {
      transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
      animation: rotateCircle + $i $time + s infinite linear;
      z-index: $count - $i;
    }
    @keyframes rotateCircle#{$i} {
      #{percentage(((50 / $count) * ($i - 1)) / 100)} {
        opacity: 0;
      }
      #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
        opacity: 1;
        transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
      }
      #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
        transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
      }
      100% {
        transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
        opacity: 1;
      }
    }
  }