<section class="works" id="works">
    <div class="container pr-0 pl-0">
        <div class="row flex-column align-items-center">
            <h3 class="section__title section__title-grey">Our Amazing Works</h3>
            <span class="green_lines_img-wrap"></span>
        </div> 
        <div class="row">
            <div class="col" id="tabs2">
                <div class="row" >
                    <div class="col d-flex justify-content-center" >
                        <ul class="works__menu">
                            <li class="works__menu-item works__menu-item-first"><a href="#tabs-7" class="works__menu-item-link works__menu-item-link--active">All</a></li>
                            <li class="works__menu-item"><a href="#tabs-8" class="works__menu-item-link">Graphic Design</a></li>
                            <li class="works__menu-item"><a href="#tabs-9" class="works__menu-item-link">Web Design</a></li>
                            <li class="works__menu-item"><a href="#tabs-10" class="works__menu-item-link">Landing Page</a></li>
                            <li class="works__menu-item"><a href="#tabs-11" class="works__menu-item-link">Wordpress</a></li>                            
                        </ul>
                    </div>            
                </div>
                <div class="row no-gutters works__gallery works__gallery--all" id="tabs-7">
                    <div class="col-3 ">
                        <a href="#" class="works__item-link works__item-link-first">
                        <span class="works__item-icon-block">
                                <span class="chain_icon"><i class="fas fa-link"></i></span>
                                <span class="search_icon"><i class="fas fa-search"></i></span>
                        </span>            
                        <p class="works__item-title">CREATIVE DESIGN</p>
                        <p class="works__item-sub-title">All</p></a>
                    </div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd1.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd2.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd3.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd4.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd5.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd6.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd7.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd8.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd9.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd10.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd11.jpg" alt="picture" class="works__img"></a></div>        
                </div>
                <!-- <div class="row no-gutters works__gallery works__gallery--graphic" id="tabs-8">
                    <div class="col-3 ">
                        <a href="#" class="works__item-link works__item-link-first">
                        <span class="works__item-icon-block">
                                <span class="chain_icon"><i class="fas fa-link"></i></span>
                                <span class="search_icon"><i class="fas fa-search"></i></span>
                        </span>            
                        <p class="works__item-title">CREATIVE DESIGN</p>
                        <p class="works__item-sub-title">Graphic Design</p></a>
                    </div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd1.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd2.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd3.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd4.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd5.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd6.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd7.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd8.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd9.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd10.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/graphic_design/gd11.jpg" alt="picture" class="works__img"></a></div>        
                </div>
                <div class="row no-gutters works__gallery works__gallery--web" id="tabs-9">
                    <div class="col-3 ">
                        <a href="#" class="works__item-link works__item-link-first">
                        <span class="works__item-icon-block">
                                <span class="chain_icon"><i class="fas fa-link"></i></span>
                                <span class="search_icon"><i class="fas fa-search"></i></span>
                        </span>            
                        <p class="works__item-title">CREATIVE DESIGN</p>
                        <p class="works__item-sub-title">Web Design</p></a>
                    </div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd1.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd2.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd3.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd4.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd5.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd6.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/web_design/wd7.jpg" alt="picture" class="works__img"></a></div>
                </div>
                <div class="row no-gutters works__gallery works__gallery--landing" id="tabs-10">
                    <div class="col-3 ">
                        <a href="#" class="works__item-link works__item-link-first">
                        <span class="works__item-icon-block">
                                <span class="chain_icon"><i class="fas fa-link"></i></span>
                                <span class="search_icon"><i class="fas fa-search"></i></span>
                        </span>            
                        <p class="works__item-title">CREATIVE DESIGN</p>
                        <p class="works__item-sub-title">Landing Page</p></a>
                    </div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp1.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp2.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp3.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp4.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp5.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp6.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/landing_pages/lp7.jpg" alt="picture" class="works__img"></a></div>
                </div>
                <div class="row no-gutters works__gallery works__gallery--wordpress" id="tabs-11">
                    <div class="col-3 ">
                        <a href="#" class="works__item-link works__item-link-first">
                        <span class="works__item-icon-block">
                                <span class="chain_icon"><i class="fas fa-link"></i></span>
                                <span class="search_icon"><i class="fas fa-search"></i></span>
                        </span>            
                        <p class="works__item-title">CREATIVE DESIGN</p>
                        <p class="works__item-sub-title">Wordpress</p></a>
                    </div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress1.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress2.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress3.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress4.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress5.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress6.jpg" alt="picture" class="works__img"></a></div>
                    <div class="col-3"><a href="#" class="works__item-link"><img src="./img/works/wordpress/wordpress7.jpg" alt="picture" class="works__img"></a></div>
                </div> -->
            </div>
        </div> 
        <div class="row justify-content-center">
            <button class="btn-reset btn btn-green btn-green-border"><i class="fas fa-plus"></i> LOAD MORE</button>
        </div>
    </div>
</section>