.options {
    width: 100%;
}

.options__container {
    padding: 0;
}

.option {
    padding: 80px 0 95px 0;
    text-align: center;
}

.option__block-green {
    background-color: $accent-color;
    border-top: solid 7px $text-white;   
    transition: color 0.2s ease-in-out;    
}

.option__block-green .option__link {
    color: $text-white;
    transition: color 0.2s ease-in-out;
}

.option__block-black{
    background-color: #1c2a33;
    border-top: solid 7px $accent-color;   
    
        & .option__icon,
        .option__description {
        color: $accent-color;
        transition: color 0.2s ease-in-out;
    }
}

.option__icon {
    @include rem(75);
}

.option__description {
    @include rem(20);
    font-weight: 700;
    margin-top: 48px;
}

.option__block-black .option__icon {      
    color: $accent-color;
    
} 

.option__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.option__link:hover {
    text-decoration: none; 
}