.people-say {
    @include background('../img/people_say_bg.png');
    padding: 100px 0 104px;
    background-color: $bg-black;     
}

.people-say__title-wrap {
    position: relative;
    z-index: 99;
} 

.quotes {
    margin-bottom: 43px;
}

.people-say__description {
    position: relative;
    z-index: 99;
    color: #bbbbbb;
    @include rem(16);
    font-weight: 300;
    line-height: 30px;
}
